[submodule "UniversalRobotsClientLibrary/Universal_Robots_Client_Library"]
	path = UniversalRobotsClientLibrary/Universal_Robots_Client_Library
	url = git@github.com:UniversalRobots/Universal_Robots_Client_Library.git
